.VacationList {
	margin: auto;
	height: 100%;
}

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 5rem;
	
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
}

.vacFilters {
	margin-left: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

}

/* .SearchBar input {
    margin-right: 5rem;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 200px;
  } */

  